            .jumbotron {
                /*background-color: teal;*/
                background-image: url("./images/ggimg2.png");
                background-repeat: no-repeat;
                /* background: fixed; */
                background-position: center;
                color: white;
            }
            
            h1 {
                font-family: 'Macondo Swash Caps', cursive;
                font-size: 1200%;
                text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
                text-align: center;
            }
            
            h2 {
                font-family: 'Lora', serif;
                text-shadow: 2px 2px 3px rgba(199, 194, 194, 0.6);
                color: red;
                text-align: center;
            }
            
            @media (max-width: 868px) {
                h1 {
                    font-size: 400%;
                }
            }